<div class="text-center bg-white p-4 m-4">
    <i class="fa fa-search  fa-3x"></i>
    <div>
        <h4>Oops- we've looked everywhere and could not find this.</h4>
    </div>
    <a class="btn btn-primary text-white" asp-controller="activities" asp-action="index">Back to activities Page</a>
</div>