<div class="card">
    <div class="card-footer bg-white text-info font-weight-bold">
        <i class="fa fa-filter mr-2 text-info"></i>Filters
        
    </div>
</div>
<div class="card">

    <div class="card-footer bg-white">
        All Activities
    </div>

    <div class="card-footer bg-white">
        I'm going
    </div>
    <div class="card-footer bg-white">
        I'm hosting
    </div>

</div>