<div class="card my-2">
    <div class="card-footer bg-white">
        <i class="fa fa-info mr-2 text-info"></i>@Model.Description
    </div>

    <div class="card-footer bg-white">
        <i class="fa fa-calendar mr-2 text-info"></i>@Model.Date.ToShortDateString()
    </div>
    <div class="card-footer bg-white">
        <i class="fa fa-map-marker mr-2 text-info"></i>@Model.Venue, @Model.City
    </div>   

</div>