@model ActivityFormViewModel
@if(Model.EditMode) 
{ 
    <div class="bg-white p-4 w-100 rounded">
        <form method="post" autocomplete="false" asp-action="edit" asp-controller="activities">
            <input type="hidden" asp-for="SelectedActivity.Id" />
            <input type="hidden" asp-for="EditMode" />

            <div class="form-group">
                <input type="text" asp-for="SelectedActivity.Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="SelectedActivity.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea type="text" asp-for="SelectedActivity.Description" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <input type="text" asp-for="SelectedActivity.Category" class="form-control" placeholder="Category" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="SelectedActivity.Date" class="form-control" placeholder="Date" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="SelectedActivity.City" class="form-control" placeholder="City" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="SelectedActivity.Venue" class="form-control" placeholder="Venue" />
            </div>
            <div class="form-group d-flex justify-content-end">
                <a class="btn btn-secondary mr-1" asp-action="index" asp-controller="activities" asp-route-id="@((Model.SelectedActivity==null)? "":Model.SelectedActivity.Id)">Cancel</a>
                <button type="submit" class="btn btn-success">
                    @((Model.SelectedActivity==null)? "Create":"Update")
                    
                </button>
            </div>
        </form>
    </div>
}