<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top border-bottom box-shadow" style="background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/images/logo.png" alt="logo" style="max-height:50px;"/> Reactivities
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" asp-controller="activities" asp-action="index" asp-route-id="">Activities</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" asp-controller="activities" asp-action="index" asp-route-id="" asp-route-edit="true">Create Activity</a>
            </li>
        </ul>
        <div class="dropdown">
            <img src="/images/user.png" alt="" style="max-height:50px; border:2px solid #fff; display:inline;" />
            <a class="btn dropdown-toggle text-white" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" asp-controller="members" asp-action="memberupdate"><i class="fa fa-user-edit mr-3"></i> Edit Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="account" asp-action="logout"><i class="fa fa-door-open mr-3"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
